In [1]:
# Task 1: Declare an empty list
empty_list = []

# Task 2: Declare a list with more than 5 items
list_with_items = [1, 'apple', 3.14, True, 'banana']

In [3]:
# Task 3: Find the length of your list
list_length = len(list_with_items)
list_with_items

[1, 'apple', 3.14, True, 'banana']

In [4]:
# Task 4: Get the first item, the middle item and the last item of the list
first_item = list_with_items[0]
middle_item = list_with_items[list_length // 2]
last_item = list_with_items[-1]

In [5]:
first_item

1

In [6]:
middle_item

3.14

In [7]:
last_item

'banana'

In [8]:
# Task 5: Declare a list called mixed_data_types
mixed_data_types = ['YourName', 25, 1.75, 'Single', 'YourAddress']

In [9]:
# Task 6: Declare a list variable named it_companies
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

# Task 7: Print the list using print()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [10]:
# Task 8: Print the number of companies in the list
num_companies = len(it_companies)
print(f'Number of companies: {num_companies}')

Number of companies: 7

In [11]:
# Task 9: Print the first, middle and last company
print(f'First company: {it_companies[0]}')
print(f'Middle company: {it_companies[num_companies // 2]}')
print(f'Last company: {it_companies[-1]}')

First company: Facebook
Middle company: Apple
Last company: Amazon

In [12]:
# Task 10: Print the list after modifying one of the companies
it_companies[2] = 'NewCompany'
print(it_companies)

['Facebook', 'Google', 'NewCompany', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [13]:
# Task 11: Add an IT company to it_companies
it_companies.append('NewITCompany')
print(it_companies)

['Facebook', 'Google', 'NewCompany', 'Apple', 'IBM', 'Oracle', 'Amazon', 'NewITCompany']

In [14]:
# Task 12: Insert an IT company in the middle of the companies list
it_companies.insert(num_companies // 2, 'MiddleCompany')
print(it_companies)

['Facebook', 'Google', 'NewCompany', 'MiddleCompany', 'Apple', 'IBM', 'Oracle', 'Amazon', 'NewITCompany']

In [15]:
# Task 13: Change one of the it_companies names to uppercase (IBM excluded!)
it_companies[4] = it_companies[4].upper()
print(it_companies)

['Facebook', 'Google', 'NewCompany', 'MiddleCompany', 'APPLE', 'IBM', 'Oracle', 'Amazon', 'NewITCompany']

In [16]:
# Task 14: Join the it_companies with a string '#;  '
joined_companies = '#;  '.join(it_companies)
print(joined_companies)

Facebook#;  Google#;  NewCompany#;  MiddleCompany#;  APPLE#;  IBM#;  Oracle#;  Amazon#;  NewITCompany

In [17]:
# Task 15: Check if a certain company exists in the it_companies list.
company_to_check = 'Microsoft'
print(f'Does {company_to_check} exist in the list? {company_to_check in it_companies}')

Does Microsoft exist in the list? False

In [18]:
# Task 16: Sort the list using sort() method
it_companies.sort()
print(it_companies)

['APPLE', 'Amazon', 'Facebook', 'Google', 'IBM', 'MiddleCompany', 'NewCompany', 'NewITCompany', 'Oracle']

In [19]:
# Task 17: Reverse the list in descending order using reverse() method
it_companies.reverse()
print(it_companies)

['Oracle', 'NewITCompany', 'NewCompany', 'MiddleCompany', 'IBM', 'Google', 'Facebook', 'Amazon', 'APPLE']

In [20]:
# Task 18: Slice out the first 3 companies from the list
first_three_companies = it_companies[:3]
print(first_three_companies)

['Oracle', 'NewITCompany', 'NewCompany']

In [21]:
# Task 19: Slice out the last 3 companies from the list
last_three_companies = it_companies[-3:]
print(last_three_companies)

['Facebook', 'Amazon', 'APPLE']

In [22]:
# Task 20: Slice out the middle IT company or companies from the list
middle_index = num_companies // 2
middle_company = it_companies[middle_index] if num_companies % 2 != 0 else [it_companies[middle_index - 1], it_companies[middle_index]]
print(middle_company)

MiddleCompany

In [23]:
# Task 21: Remove the first IT company from the list
it_companies.pop(0)
print(it_companies)

['NewITCompany', 'NewCompany', 'MiddleCompany', 'IBM', 'Google', 'Facebook', 'Amazon', 'APPLE']

In [24]:
# Task 22: Remove the middle IT company or companies from the list
it_companies.pop(middle_index)
print(it_companies)

['NewITCompany', 'NewCompany', 'MiddleCompany', 'Google', 'Facebook', 'Amazon', 'APPLE']

In [25]:
# Task 23: Remove the last IT company from the list
it_companies.pop()
print(it_companies)

['NewITCompany', 'NewCompany', 'MiddleCompany', 'Google', 'Facebook', 'Amazon']

In [26]:
# Task 24: Remove all IT companies from the list
it_companies.clear()
print(it_companies)

[]

In [27]:
# Task 25: Destroy the IT companies list
del it_companies
# Uncomment the line below to see the effect of destroying the list
# print(it_companies)  # This will raise an error since the list is destroyed

In [43]:
# Task 26: Join the following lists
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']

# Concatenate the lists
full_stack = front_end + back_end

# Find the index of 'Redux'
redux_index = full_stack.index('Redux')

# Insert Python and SQL after Redux
full_stack = full_stack[:redux_index + 1] + ['Python', 'SQL'] + full_stack[redux_index + 1:]

print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

In [31]:
# Sort the list and find the min and max age
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
min_age = min(ages)
max_age = max(ages)
print(f'Sorted ages: {ages}')
print(f'Minimum age: {min_age}, Maximum age: {max_age}')

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum age: 19, Maximum age: 26

In [32]:
#  Add the min age and the max age again to the list
ages.extend([min_age, max_age])
print(f'Ages after adding min and max: {ages}')

Ages after adding min and max: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [33]:
#  Find the median age
middle_index = len(ages) // 2
median_age = ages[middle_index] if len(ages) % 2 != 0 else (ages[middle_index - 1] + ages[middle_index]) / 2
print(f'Median age: {median_age}')

Median age: 24.0

In [34]:
#  Find the average age
average_age = sum(ages) / len(ages)
print(f'Average age: {average_age}')

Average age: 22.75

In [35]:
#  Find the range of the ages
age_range = max(ages) - min(ages)
print(f'Age range: {age_range}')

Age range: 7

In [36]:
#  Compare the value of (min - average) and (max - average), use abs() method
min_avg_diff = abs(min_age - average_age)
max_avg_diff = abs(max_age - average_age)
print(f'Minimum - Average difference: {min_avg_diff}')
print(f'Maximum - Average difference: {max_avg_diff}')

Minimum - Average difference: 3.75
Maximum - Average difference: 3.25

In [37]:
#  Find the middle country(ies) in the countries list
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
middle_country = countries[len(countries) // 2] if len(countries) % 2 != 0 else [countries[middle_index - 1], countries[middle_index]]
print(f'Middle country: {middle_country}')

Middle country: Finland

In [38]:
#  Divide the countries list into two equal lists if it is even, if not one more country for the first half
half_index = len(countries) // 2
first_half_countries = countries[:half_index + 1]
second_half_countries = countries[half_index + 1:]
print(f'First half countries: {first_half_countries}')
print(f'Second half countries: {second_half_countries}')

First half countries: ['China', 'Russia', 'USA', 'Finland']
Second half countries: ['Sweden', 'Norway', 'Denmark']

In [40]:
#  Unpack the first three countries and the rest as scandic countries
country1, country2, country3, *scandic_countries = countries
print(f'First three countries: {country1}, {country2}, {country3}')
print(f'Scandic countries: {", ".join(scandic_countries)}')

First three countries: China, Russia, USA
Scandic countries: Finland, Sweden, Norway, Denmark