In [1]:
# SyntaxError
print 'hello world'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (90228096.py, line 2)

In [2]:
# Fixing the SyntaxError 
print('hello world')

hello world

In [3]:
# NameError
print(age)

NameError: name 'age' is not defined

In [4]:
# Fixing the NameError
age = 25
print(age)

25

In [5]:
# IndexError
numbers = [1, 2, 3, 4, 5]
print(numbers[5])

IndexError: list index out of range

In [6]:
# Fix the IndexError 
print(numbers[4])

5

In [7]:
# Incorrect code with ModuleNotFoundError
import maths

ModuleNotFoundError: No module named 'maths'

In [9]:
# Fix the ModuleNotFoundError 
import math

In [10]:
# Incorrect code with AttributeError
import maths
math.PI

ModuleNotFoundError: No module named 'maths'

In [11]:
# Fix the AttributeError by using the correct attribute name
import math
math.pi

3.141592653589793

In [12]:
# KeyError
user = {'name': 'Asab', 'age': 250, 'country': 'Finland'}
user['county']

KeyError: 'county'

In [13]:
# Fixing the KeyError 
user['country']

'Finland'

In [14]:
# TypeError
4 + '3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
# Fixing the TypeError by converting the string to int or float
4 + int('3')
4 + float('3')

7.0

In [16]:
# ImportError
from math import power

ImportError: cannot import name 'power' from 'math' (unknown location)

In [17]:
# Fixing the ImportError
from math import pow
pow(2, 3)

8.0

In [18]:
# ValueError
int('12a')

ValueError: invalid literal for int() with base 10: '12a'

In [19]:
# Fixing the ValueError
int('12')

12

In [20]:
#ZeroDivisionError
1/0

ZeroDivisionError: division by zero

In [21]:
# Fixing the ZeroDivisionError
0/1

0.0